html {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  height: 100%;
}

body,
td,
th,
p {
  font-size: 14.5px;
  color: #262626;
  line-height: 1.5;
  vertical-align: top;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
}

button {
  background-color: #fff;
  border: 2px solid #e02e48;
  border-radius: 5px;
  color: #e02e48;
  font-size: 12px;
  padding: 7px 15px 6px;
  letter-spacing: 0.4px;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", Arial, sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover {
  background: #e02e48;
  color: #fff;
}

ul,
li {
  font-size: 14px;
  color: #4d4d4d;
}

a {
  color: #196ebb;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

a:hover,
a:focus {
  color: #e02e48;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0 0 20px;
}

h2,
h3 {
  color: #196ebb;
}

h3 {
  margin-bottom: 15px;
  font-size: 23px;
}

h3 + p {
  margin-top: 0;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

select {
  -webkit-appearance: none;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
}

.bold {
  font-weight: 500;
}

#maincontent {
  background-color: #ebebeb;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

#footer {
  background-color: #e02e48;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.7px;
  padding: 25px;
  text-align: center;
}

#footer a {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.8px;
}

#footer a:hover {
  text-decoration: underline;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background-color: #e02e48;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav h1 a:hover {
  color: #fff;
}

nav .dinewise-logo {
  width: 180px;
  height: 28px;
}

nav #dinewise-mobile {
  display: none;
}

/* ====================== Map ====================== */
#map {
  height: 360px;
  width: 100%;
  background-color: #bfbfbf;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #196ebb;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.filter-options h2 {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  letter-spacing: 0.5px;
}

.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 35px;
  letter-spacing: 0.3px;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #ebebeb;
  list-style: outside none none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 251px));
  grid-gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 20px;
  min-height: calc(100vh - 583px);
}

#restaurants-list li {
  background-color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  border-radius: 10px;
}

#restaurants-list .restaurant-img {
  background-color: #bfbfbf;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px 10px 0 0;
}

#restaurants-list .restaurant-info {
  padding: 20px;
}

#restaurants-list .restaurant-name {
  color: #196ebb;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

#restaurants-list .restaurant-name:hover {
  text-decoration: underline;
}

#restaurants-list p {
  color: #737373;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: 0.3px;
  font-weight: 300;
}

#restaurants-list p:first-of-type {
  font-weight: 500;
  color: #4d4d4d;
  margin-top: 5px;
}

#restaurants-list button {
  display: inline-block;
  margin-top: 10px;
}

/* ====================== Breadcrumb ====================== */
.breadcrumb-container {
  padding: 10px 0;
  width: 100%;
  background-color: #ebebeb;
}

#breadcrumb {
  list-style: none;
  max-width: 1080px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 17px;
}

#breadcrumb li + li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}

#breadcrumb li {
  display: inline;
}

#breadcrumb li a {
  color: #e02e48;
  text-decoration: none;
  font-family: "Poppins", Arial, sans-serif;
}

#breadcrumb li a:hover {
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  grid-row: span 2;
}

.inside #map-container h3 {
  margin-bottom: 5px;
  border-top: 1px solid #bfbfbf;
  padding-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
}

.inside #map-container h3:first-of-type {
  padding-top: 0;
  border-top: none;
}

.inside #map-container p {
  margin-bottom: 15px;
}

.inside .map-wrapper {
  border-radius: 3px;
}

.inside #map {
  background-color: #bfbfbf;
  width: 100%;
  height: 300px;
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

.inside .restaurant-details {
  padding: 20px 0;
}

.inside .restaurant-details .day {
  font-weight: 500;
  padding-right: 20px;
}

.inside #maincontent {
  padding: 30px 40px 40px;
  max-width: 1080px;
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
  background: #fff;
}

#restaurant-name {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 10px;
}

#restaurant-img {
  width: 90%;
}

#restaurant-cuisine,
#restaurant-neighborhood {
  color: #4d4d4d;
  font-size: 15px;
  margin: 0;
}

#restaurant-neighborhood {
  margin-left: 20px;
}

#restaurant-attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 30px;
}

#restaurant-container {
  grid-column-start: 1;
  grid-column-end: 1;
}

#restaurant-container i {
  margin-right: 5px;
  color: #e02e48;
}

#image-container {
  width: 100%;
  height: 300px;
  background: no-repeat center;
  background-size: cover;
  border-radius: 2px;
}

#reviews-container h3 {
  margin-top: 0;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  display: block;
  list-style-type: none;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  border-top: 1px solid #bfbfbf;
}

#reviews-list li:first-of-type {
  margin-top: 0;
}

#reviews-list li:last-of-type {
  border-bottom: 1px solid #999999;
  padding-bottom: 10px;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list li p:first-of-type {
  color: #737373;
  float: right;
}

#reviews-list li p:nth-of-type(2) {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

#reviews-list li td {
  color: #999999;
}

.star-rating {
  font-size: 16px;
  letter-spacing: 3px;
  color: #e02e48;
  margin-bottom: 15px;
}

.star-rating .gray {
  color: #dedede;
}

@media only screen and (max-width: 1000px) {
  .inside #maincontent {
    grid-column-gap: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .inside #maincontent {
    grid-template-columns: 1fr;
    max-width: 720px;
    padding: 0 40px 40px;
  }
  #restaurant-header {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-top: 20px;
  }
  #image-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  #reviews-container {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .inside #map-container {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    padding-top: 25px;
  }
  #restaurant-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #restaurant-cuisine {
    margin-bottom: 0;
  }
  .inside .restaurant-details {
    padding: 20px 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .filter-options {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .filter-options h2 {
    margin: 0 10px 0 20px;
    width: 61px;
  }
  .filter-options select:nth-of-type(2) {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .inside #maincontent {
    padding: 0 20px 40px;
  }
  .filter-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 30px 10px;
  }
  .filter-options h2 {
    width: auto;
    margin-bottom: 10px;
  }
  .filter-options select {
    width: 100%;
  }
  .filter-options select:nth-of-type(2) {
    margin-right: 10px;
  }
  #breadcrumb {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 420px) {
  #restaurants-list {
    grid-template-columns: 1fr;
  }
  #restaurants-list .restaurant-name {
    font-size: 18px;
  }
  .filter-options {
    padding: 20px 20px 10px;
  }
  #restaurant-attributes {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #restaurant-cuisine,
  #restaurant-neighborhood {
    font-size: 14px;
  }
}
