@media only screen and (max-width: 1000px) {
  .inside #maincontent {
    grid-column-gap: 40px;
  }
}
@media only screen and (max-width: 900px) {
  .inside {
    #maincontent {
      grid-template-columns: 1fr;
      max-width: 720px;
      padding: 0 40px 40px;
    }
  }

  #restaurant-header {
    order: 1;
    padding-top: 20px;
  }

  #image-container {
    order: 2;
  }

  #reviews-container {
    order: 3;
  }

  .inside #map-container {
    order: 4;
    padding-top: 25px;
  }

  #restaurant-container {
    display: flex;
    flex-direction: column;
  }

  #restaurant-cuisine {
    margin-bottom: 0;
  }

  .inside .restaurant-details {
    padding: 20px 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .filter-options {
    justify-content: center;
    h2 {
      margin: 0 10px 0 20px;
      width: 61px;
    }
    select {
      &:nth-of-type(2) {
        margin-right: 20px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .inside {
    #maincontent {
      padding: 0 20px 40px;
    }
  }

  .filter-options {
    flex-direction: column;
    padding: 20px 30px 10px;
    h2 {
      width: auto;
      margin-bottom: 10px;
    }
    select {
      width: 100%;
      &:nth-of-type(2) {
        margin-right: 10px;
      }
    }
  }

  #breadcrumb {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 420px) {
  #restaurants-list {
    grid-template-columns: 1fr;
    .restaurant-name {
      font-size: 18px;
    }
  }

  .filter-options {
    padding: 20px 20px 10px;
  }

  #restaurant-attributes {
    justify-content: space-between;
  }

  #restaurant-cuisine,
  #restaurant-neighborhood {
    font-size: 14px;
  }
}
