//--------------------------------------------------------------------
// Colors
//--------------------------------------------------------------------

// Main Color Palette
$white: #fff;
$black: #000;
$primary-color: #e02e48;
// $primary-color: #c91732;
$primary-accent: #196ebb;

// Color variants
$gray-01: lighten($black, 92%);
$gray-02: lighten($black, 87%);
$gray-03: lighten($black, 75%);
$gray-04: lighten($black, 60%);
$gray-05: lighten($black, 45%);
$gray-06: lighten($black, 30%);
$gray-07: lighten($black, 15%);

$primary-color-dark: darken($primary-color, 20%);
$primary-accent-dark: darken($primary-accent, 5%);

//--------------------------------------------------------------------
// Fonts
//--------------------------------------------------------------------

$display-font: 'Poppins', Arial, sans-serif;
$body-font: 'Roboto', Arial, sans-serif;
$body-letterspacing: 0.3px;
