@import 'variables';


/* CSS Document */
@charset "utf-8";

body,td,th,p{
	font-family: $primary-font;
	font-size: 10pt;
	color: $gray-05;
	line-height: 1.5;
}
body {
	background-color: $gray-01;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: $primary-font;
	font-size: 10pt;
	color: $gray-05;
}
a {
	color: $primary-accent;
	text-decoration: none;
}
a:hover, a:focus {
	color: $primary-color;
	text-decoration: none;
}
a img{
	border: none 0px $white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: $gray-01;
  min-height: 100%;
}
#footer {
  background-color: $gray-05;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: $gray-06;
  text-align:center;
	h1 {
		margin: auto;
		a {
			color: $white;
		  font-size: 14pt;
		  font-weight: 200;
		  letter-spacing: 10px;
		  text-transform: uppercase;
		}
	}
}
// nav h1 {
//   margin: auto;
// }
// nav h1 a {
//   color: $white;
//   font-size: 14pt;
//   font-weight: 200;
//   letter-spacing: 10px;
//   text-transform: uppercase;
// }
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: $gray-02;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: $black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: $primary-color;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: $primary-color-dark;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: $gray-03;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  align-items: center;
}
.filter-options h2 {
  color: $white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: $white;
  border: 1px solid $white;
  font-family: $primary-font;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: $gray-01;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: $white;
  border: 2px solid $gray-03;
  font-family: $primary-font;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: $gray-03;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: $primary-accent-dark;
  font-family: $primary-font;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li button {
  background-color: $primary-accent;
  border-bottom: 3px solid $gray-01;
  color: $white;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: $gray-03;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: $primary-accent-dark;
  font-family: $primary-font;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: $gray-05;
  color: $gray-02;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid $gray-02;
  border-top: 1px solid $white;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: $primary-accent-dark;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: $white;
    border: 2px solid $gray-01;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: $gray-04;
}
